<footer class="footer">
    <div class="footer__content background--hemelblauw">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <span class="footer__header">NL Design System <%- version() %></span>

                    <ul class="list list--links footer__nav">
                        <li><a href="<%- url_for('upgrade/index.html') %>">Upgraden</a></li>
                        <li><a href="https://gitlab.com/nl-design-system/nl-design-system/-/blob/master/LICENTIE" _target="blank">Code licensed EUPL</a></li>
                    </ul>
                </div>

                <div class="col-xs-4">
                    <span class="footer__header">Bijdragen</span>
                    <ul class="list list--links footer__nav">
                        <li><a rel="external" href="https://gitlab.com/nl-design-system/nl-design-system">GitLab</a></li>
                    </ul>
                </div>

                <div class="col-xs-4">
                    <span class="footer__header">Contact</span>
                    <ul class="list list--links footer__nav">
                        <li><a href="">Stuur een e-mail</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<%- js('js/highlight.pack') %>
<%- js('js/examples') %>
<%- js('js/debug') %>

<script>
    // Load collapse component
    System['import']('<%- url_for('uno/components/collapse/collapse.js') %>').then(function (m) {

        //gebruikt unieke id van de nav om te voorkomen dat example collapses ook automatisch geactiveerd worden.
        new m.Collapse(document.querySelector('#search-trigger'));
    });
    // Load nav component
    System.import('<%- url_for('uno/components/navigation/navigation.js') %>').then(function (module) {
        var navs = document.querySelectorAll('.top-nav-autoresize');
        // Initialize all navs
        for (var i = 0; i < navs.length; i++) {
            new module.AutoResizeNavigation(navs.item(i));
        }
        var submenus = document.querySelectorAll('.nav--submenu');
        // Initialize all submenus
        for (var i = 0; i < submenus.length; i++) {
            new module.SubMenuNavigation(submenus.item(i));
        }
    });

    // Load example tabbing
    System.import('<%- url_for('uno/components/tabs/tabs.js') %>').then(function (module) {
        // Select all .tab elements inside the examples on the page
        var tabs = document.querySelectorAll('.example > .tab--example');

        // Initialize all example tabs
        for (var i = 0; i < tabs.length; i++) {
            new module.Tabs(tabs.item(i));
        }
    });
</script>
