<a class="skiplink" href="<% if(typeof target != 'undefined' && target) { %>#<%= target %><% } else { %>#content<% } %>">
    <span class="skiplink__text">Ga direct naar inhoud</span>
</a>
<header class="header <% if(transparent) { %>header--transparent<% } %>"
        role="banner">
    <!-- <div class="header-logo">
        <a href="/" title="Logo Dienst Uitvoering Onderwijs"><span class="screenreader-only">dienst uitvoering onderwijs, naar de homepage</span></a>
    </div> -->
</header>

