
---
layout: home-page
skipBacklink: true
title: NL Design System
intro:
styles: [
    'uno/components/card/card.css',
    'uno/components/list/list-card.css'
]
additionalStyles: [
    'uno/components/hint/hint.css',
    'uno/components/meta/meta.css',
    'uno/components/navigation/inpage.css',
    'uno/components/notification/notification.css'
]
---

<div class="row">
    <div class="col-sm-12">
        <div class="notification notification--warning">
            <div class="notification__content">
                <div class="notification__type">LET OP</div>
                <h2 class="notification__title">NL Design System in pilotfase</h2>
                <span>Het NL Design System bevindt zich momenteel nog in de pilotfase. Hierdoor is 
                    het nu nog niet volwassen genoeg om volledig gebruikt te worden. Houdt hier dus 
                    rekening mee voor je aan de slag gaat. We zouden het op prijs stellen als je 
                    wilt bijdragen om het NLDS tot een succes te maken. Dit kan in onze gitlab of 
                    met een mailtje aan: NLDesignSystem@gebruikercentraal.nl</span>
            </div>
        </div>
        <ul class="list list--card">
            <li class="card">
                <a href="./aan-de-slag/index.html" class="card__content">
                    <div class="card__thumb" style="background-image: url('./images/img-1.png')"></div>
                    <div class="card__body">
                        <span class="card__title">Aan de slag</span>
                        <p>Installatie, richtlijnen en layout.</p>
                    </div>
                </a>
            </li>
            <li class="card">
                <a href="./core/index.html" class="card__content">
                    <div class="card__thumb" style="background-image: url('./images/img-2.png')"></div>
                    <div class="card__body">
                        <span class="card__title">Basis</span>
                        <p>Kleuren, iconen en typografie.</p>
                    </div>
                </a>
            </li>
            <li class="card">
                <a href="./componenten/index.html" class="card__content">
                    <div class="card__thumb" style="background-image: url('./images/img-3.png')"></div>
                    <div class="card__body">
                        <span class="card__title">Componenten</span>
                        <p>Kant-en-klare onderdelen.</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="list list--card">
            <li class="card">
                <a href="./patronen/index.html" class="card__content">
                    <div class="card__thumb" style="background-image: url('./images/img-3.png')"></div>
                    <div class="card__body">
                        <span class="card__title">Patronen</span>
                        <p>Validatie en formulieropbouw.</p>
                    </div>
                </a>
            </li>
            <li class="card">
                <a href="./templates/index.html" class="card__content">
                    <div class="card__thumb" style="background-image: url('./images/img-2.png')"></div>
                    <div class="card__body">
                        <span class="card__title">Voorbeelden</span>
                        <p>Kant-en-klare pagina's.</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
