---
title: Aan de slag
layout: content-page
permalink: aan-de-slag/uno-gebruiken.html
skipBacklink: true
inpagenav: true
additionalStyles: [
  'uno/components/navigation/inpage.css'
]
---


<h1>Configuratie</h1>
<h2>CSS</h2>
<p>Er zijn er twee CSS-bestanden die je altijd moet inladen. Deze basis bevat onder andere de <a href="../core/grid/index.html">grid</a> en <a href="../core/colors/index.html">kleuren</a>, <a href="../core/icons/index.html">iconen</a> en <a href="../core/typografie/index.html">typografie</a>.</p>
<pre><code>&lt;link rel="stylesheet" href="/node_modules/uno/dist/core/base.css"&gt;
&lt;link rel="stylesheet" href="/node_modules/uno/dist/core/grid.css"&gt;
</code></pre>

<p>Uno bestaat uit losse componenten. Per component laad je bijbehorende CSS in. Deze vind je in de documentatie van het component.
</p>

<h2 lang="en-US">JavaScript</h2>

<p>Sommige componenten hebben JavaScript nodig. Dit staat per component beschreven in de documentatie. Om de JavaScript-bestanden 
    te kunnen gebruiken is <code>systemjs</code> nodig.</p>

<pre><code>&lt;script src="/node_modules/systemjs/dist/system.js"&gt;&lt;/script&gt;
&lt;script&gt;
    System.config({
        packages: {
        '/': {
            defaultExtension: 'js'
        }
    }
    });
&lt;script&gt;</code></pre>

<p>Voor Internet Explorer is nog een <span lang="en-US">polyfill</span> nodig. Hiervoor gebruik je <code lang="en-US">when</code>.</p>

<pre><code>&lt;script src="/node_modules/when/es6-shim/Promise.min.js"&gt;&lt;/script&gt;</code></pre>
<p>Laad vervolgens het component in.</p>
<pre><code>System.import('/node_modules/uno/dist/components/button/button.js').then(
    function (module) {
        /* Select all a.btn elements on the page */
        var buttons = document.querySelectorAll('a.btn');
        /* Initialize all 'fake' buttons */
        for (var i = 0; i < buttons.length; i++) {
            new module.Button(buttons.item(i));
        }
    }
});</code></pre>
<p>Aan de functie <code lang="en-US">System.import()</code> geef je het pad naar het javascript bestand.
De functie retourneert een promise met één parameter, <code>module</code>. Dit is een object met alle
ingeladen componenten.

<div class="prev-next">
    <a href="../aan-de-slag/index.html" class="prev-next__prev">
        <span class="prev-next__meta">VORIGE</span>
        <span class="prev-next__text">1. Installatie</span>
    </a>
    <a href="../aan-de-slag/document-structuur.html" class="prev-next__next">
        <span class="prev-next__meta">VOLGENDE</span>
        <span class="prev-next__text">3. Documentstructuur</span>
    </a>
</div>