---
layout: sidenav-page
title: Card
parent: Components
permalink: componenten/card/
styles: [
    'uno/components/list/list-card.css',
    'uno/components/card/card.css'
]
---

<p>Een <span lang="en-US">card</span> toont een klein stukje informatie met een link naar meer info. <span lang="en-US">Cards</span>
worden altijd buiten een <span lang="en-US">content block</span> geplaatst. Een <span lang="en-US">card</span> heeft een beperkte breedte,
dit kan tot problemen leiden met lange woorden. Plaats een <code>&amp;#8203;</code>
in lange woorden op de plaats waar het woord afgebroken mag worden.</p>
<p>Plaats de afbeelding als <code lang="en-US">background-image</code>, zodat deze in alle
<span lang="en-US">browsers</span> meeschaalt.</p>

<div class="example example--grey" id="example-multiple-cards">

    <div class="row">
        <div class="col-xl-9 col-lg-10 col-lg-offset-1">
            <h2> Nieuwsberichten</h2>
            <ul class="list list--card">
                <li class="card">
                    <a href="#" class="card__content">
                        <div class="card__thumb" style="background-image: url('../../images/img-1.png')"></div>
                        <div class="card__body">
                            <span class="card__title">Vooraan﻿&#8203;kondiging nieuwe werkwijze relatief verzuim</span>
                        </div>
                    </a>
                </li>
                <li class="card">
                    <a href="#" class="card__content">
                        <div class="card__thumb" style="background-image: url('../../images/img-2.png')"></div>
                        <div class="card__body"><span class="card__title">Verzuimloket niet uitgefaseerd</span></div>
                    </a>
                </li>
                <li class="card">
                    <a href="#" class="card__content">
                        <div class="card__thumb" style="background-image: url('../../images/img-3.png')"></div>
                        <div class="card__body"><span class="card__title">Opschonen vrijstellingen&#8203;register</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<p>Wanneer er maar één <span lang="en-US">card</span> in de lijst zit, wordt deze altijd als de mobiele weergave getoond. Dit kan ook worden
    afgedwongen door de <span lang="en-US">modifier</span> <code>list--card-small</code> toe te voegen aan de lijst <strong>en</strong> elke <span lang="en-US">card</span>
    de <span lang="en-US">modifier</span> <code>card--small</code> te geven. Wanneer er altijd maar één <span lang="en-US">card</span> is, dan is een lijst niet nodig, en
    kan een losse <span lang="en-US">card</span> gebruikt worden.</p>

<div class="example example--grey" id="example-single-card">
    <ul class="list list--card list--card-small">
        <li class="card card--small">
            <a href="#" class="card__content">
                <div class="card__thumb" style="background-image: url('../../images/img-1.png')"></div>
                <div class="card__body"><span class="card__title">Vooraankondiging nieuwe werkwijze relatief verzuim</span></div>
            </a>
        </li>
        <li class="card card--small">
            <a href="#" class="card__content">
                <div class="card__thumb" style="background-image: url('../../images/img-1.png')"></div>
                <div class="card__body"><span class="card__title">Vooraankondiging nieuwe werkwijze relatief verzuim</span></div>
            </a>
        </li>
    </ul>

    <ul class="list list--card">
        <li class="card">
            <a href="#" class="card__content">
                <div class="card__thumb" style="background-image: url('../../images/img-1.png')"></div>
                <div class="card__body"><span class="card__title">Vooraankondiging nieuwe werkwijze relatief verzuim</span></div>
            </a>
        </li>
    </ul>

    <div class="card">
        <a href="#" class="card__content">
            <div class="card__thumb" style="background-image: url('../../images/img-1.png')"></div>
            <div class="card__body"><span class="card__title">Vooraankondiging nieuwe werkwijze relatief verzuim</span></div>
        </a>
    </div>
</div>

<p>Standaard zijn de <span lang="en-US">thumbnails</span> op mobiel in <span lang="en-US">portrait</span> formaat. Met de <span lang="en-US">modifier</span> <code>card__thumb--square</code> kan een
vierkant formaat worden afgedwongen.</p>

<div class="example example--grey" id="example-square-thumb">
    <div class="card">
        <a href="#" class="card__content">
            <div class="card__thumb card__thumb--square" style="background-image: url('../../images/img-1.png')"></div>
            <div class="card__body"><div class="card__content"><span class="card__title">Vooraankondiging nieuwe werkwijze relatief verzuim</span></div></div>
        </a>
    </div>
</div>
