---
layout: sidenav-page
title: Checkbox
parent: Components
permalink: componenten/checkbox/
styles: [
    'uno/components/form/form.css',
    'uno/components/form/input.css',
    'uno/components/form/checkbox.css'
]
additionalStyles: [
    'uno/components/table/table.css'
]
---
<h2>Standaard checkbox</h2>
<div class="example" id="example-checkbox">
    <fieldset class="input">
        <legend class="input__legend">Hobbies:</legend>
        <div class="input__group input__group--checkbox">
            <input name="hobbies[]" type="checkbox" id="chkbx1" class="input__control input__control--checkbox">
            <label class="input__label input__label--checkbox" for="chkbx1">Het schrijven van hele mooie, goed doordachte, uitgebreide lange zinnen waar op wat komma's na geen enkel leesteken in te bekennen is.</label>
        </div>
        <div class="input__group input__group--checkbox">
            <input name="hobbies[]" type="checkbox" id="chkbx2" class="input__control input__control--checkbox" checked>
            <label class="input__label input__label--checkbox" for="chkbx2">Postzegels verzamelen</label>
        </div>
        <div class="input__group input__group--checkbox">
            <input name="hobbies[]" type="checkbox" id="chkbx3" class="input__control input__control--checkbox" disabled>
            <label class="input__label input__label--checkbox" for="chkbx3">Paardrijden</label>
        </div>
        <div class="input__group input__group--checkbox">
            <input name="hobbies[]" type="checkbox" id="chkbx4" class="input__control input__control--checkbox" disabled checked>
            <label class="input__label input__label--checkbox" for="chkbx4">JavaScript</label>
        </div>
    </fieldset>
</div>

<h2>Geneste checkboxen</h2>
<p>Met geneste checkboxen kun je eenvoudig een hele groep checkboxen aan of uit zetten. Hier is wel javascript voor benodigd.</p>

<div class="example" id="example-checkbox--nested">
    <fieldset class="input filter">
        <legend class="filter__title">Hobbies:</legend>
        <ul class="input__group-list">
          <li class="input__group input__group--checkbox">
            <input type="checkbox" id="Water" class="input__control input__control--checkbox" /><label for="Water" class="input__label input__label--checkbox"> Watersport</label>
            <ul>
              <li><input type="checkbox" class="input__control input__control--checkbox" id="option1" /><label for="option1" class="input__label input__label--checkbox"> Kitesurfen</label></li>
              <li><input type="checkbox" class="input__control input__control--checkbox" id="option2" /><label for="option2" class="input__label input__label--checkbox"> Zwemmen</label></li>
            </ul>
          </li>
          <li class="input__group input__group--checkbox">
            <input type="checkbox" id="Veld" class="input__control input__control--checkbox" /><label for="Veld" class="input__label input__label--checkbox"> Veldsport</label>
            <ul>
              <li><input type="checkbox" class="input__control input__control--checkbox" id="Veld1" /><label for="Veld1" class="input__label input__label--checkbox"> Voetballen</label></li>
              <li><input type="checkbox" class="input__control input__control--checkbox" id="Veld2" /><label for="Veld2" class="input__label input__label--checkbox"> Hockey</label></li>
              <li><input type="checkbox" class="input__control input__control--checkbox" id="Veld3" /><label for="Veld3" class="input__label input__label--checkbox"> Basketbal</label></li>
            </ul>
          </li>
        </ul>
    </fieldset>
    <div class="js-example">
        <pre><code>&lt;script&gt;
            System.import('/node_modules/uno/dist/components/form/checkbox.js').then(function (module) {
                // Select the group-list
                var checkboxGroups = document.querySelectorAll('.example .input__group-list');
            
                for(var i = 0; i < checkboxGroups.length; i++) {
                    new module.CheckboxGroup(checkboxGroups.item(i));
                }
            });
        &lt;/script&gt;</code></pre>
    </div>
</div>

<h3>Geneste checkboxen - tabel</h3>
<p>Geneste checkboxen kunnen ook in combinatie met een tabel gebruikt worden. De header rij bevat de hoofdcheckbox, die
alle sub checkboxen in alle andere rijen <span lang="en-US">triggered</span>.<br/>In de javascript geef je de tabel mee als hoofdcomponent.
Zorg ervoor dat de tabel juist is opgemaakt met een <code>thead</code> en <code>tbody</code>.</p>
<div class="example" id="example-checkbox--nested--table">
    <table class="table table--striped table--hoverable" id="table_nested">
        <caption>Voorbeeld geneste checkbox</caption>
        <thead>
        <tr>
            <th class="input__group input__group--compact input__group--checkbox">
                <input type="checkbox" id="table_nested_checkbox" class="input__control input__control--checkbox" />
                <label for="table_nested_checkbox" class="input__label input__label--checkbox"></label>
            </th>
            <th scope="col">2014</th>
            <th scope="col">2015</th>
            <th scope="col">2016</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="input__group input__group--compact input__group--checkbox">
                <input type="checkbox" class="input__control input__control--checkbox" id="option1_nested_table" />
                <label for="option1_nested_table" class="input__label input__label--checkbox"></label></th>
            <td>124</td>
            <td>42</td>
            <td>252</td>
        </tr>
        <tr>
            <th scope="row" class="input__group input__group--compact input__group--checkbox">
                <input type="checkbox" class="input__control input__control--checkbox" id="option2_nested_table" />
                <label for="option2_nested_table" class="input__label input__label--checkbox"></label></th>
            <td>42</td>
            <td>526</td>
            <td>12</td>
        </tr>
        <tr>
            <th scope="row" class="input__group input__group--compact input__group--checkbox">
                <input type="checkbox" class="input__control input__control--checkbox" id="option3_nested_table" />
                <label for="option3_nested_table" class="input__label input__label--checkbox"></label></th>
            <td>736</td>
            <td>367</td>
            <td>234</td>
        </tr>
        </tbody>
    </table>
    <div class="js-example">
            <pre><code>&lt;script&gt;
                System.import('/node_modules/uno/dist/components/form/checkbox.js').then(function (module) {
                    // Select the table containing the checkboxes
                    var checkboxGroup = document.getElementById('table_nested');
                    new module.CheckboxGroup(checkboxGroup);
                });
            &lt;/script&gt;</code></pre>
        </div>
</div>

<h2>Horizontale checkboxen</h2>
<p>Wanneer je slechts 2 checkboxen hebt, met een korte label, kun je deze om ruimte te besparen ook naast elkaar zetten.</p>
<div class="example">
    <fieldset class="input filter">
        <legend class="filter__title">Ik wil het allemaal:</legend>
        <div class="input__group-horizontal">
            <div class="input__group input__group--checkbox">
                <input type="checkbox" id="choice_1" class="input__control input__control--checkbox">
                <label class="input__label input__label--checkbox" for="choice_1">Dit wil ik</label>
            </div>
            <div class="input__group input__group--checkbox">
                <input type="checkbox" id="choice_2" class="input__control input__control--checkbox">
                <label class="input__label input__label--checkbox" for="choice_2">dit ook</label>
            </div>
        </div>
    </fieldset>
</div>


    <script>
        // Load checkbox component
        System.import('../../uno/components/form/checkbox.js').then(function (module) {

            // Select the group-list
            var checkboxGroups = document.querySelectorAll('.example .input__group-list, .example .table');

            for(var i = 0; i < checkboxGroups.length; i++) {
                new module.CheckboxGroup(checkboxGroups.item(i));
            }
        });
    </script>
