---
layout: sidenav-page
title: Header
parent: Components
permalink: /componenten/header/
---
<h2>Toegankelijkheid</h2>
<p>Voor de toegankelijkheid van de link met het logo is het niet voldoende om alleen een <span lang="en-US">title</span> op te nemen, omdat <span lang="en-US">screenreaders</span> dat niet altijd goed verwerken.
    <br>Neem daarom naast de <span lang="en-US">title</span> ook altijd een tekst in de link op.
    <br>Omdat we die tekst niet zichtbaar willen hebben, maar er alleen voor <span lang="en-US">screenreaders</span> is, geven we die dan de <span lang="en-US">class</span> <code>screenreader-only</code>.
    Natuurlijk moet de link tekst een duidelijke beschrijving bevatten.
</p>

<h2>Standaard <span lang="en-US">header</span></h2>
<p>Gebruik de standaard <span lang="en-US">header</span> wanneer er ook een navigatiebalk aanwezig is.</p>

<div class="example" id="example-white">
  <header class="header" role="banner">
    <div class="header-logo">
      <a href="/" title="Logo Dienst Uitvoering Onderwijs">
          <span class="screenreader-only">dienst uitvoering onderwijs, naar de homepage</span>
      </a>
    </div>
  </header>
</div>

<h2>Transparante <span lang="en-US">header</span></h2>
<p>De transparante <span lang="en-US">header</span> is bedoeld voor pagina&rsquo;s waarin geen navigatiebalk
zichtbaar is.</p>

<div class="example example--transparent" id="example-transparent">
    <header class="header header--transparent" role="banner">
        <div class="header-logo">
            <a href="/" title="Logo Dienst Uitvoering Onderwijs">
                <span class="screenreader-only">dienst uitvoering onderwijs, naar de homepage</span>
            </a>
        </div>
    </header>
</div>

<h2>Witte <span lang="en-US">header</span></h2>
<p>De witte <span lang="en-US">header</span> is bedoeld voor header&rsquo;s waar een lichte achtergrondkleur (of afbeelding) de tekst onleesbaar maakt.</p>

<div class="example example--transparent" id="example-transparent">
    <header class="header header--transparent" role="banner">
        <div class="header-logo header-logo--white">
            <a href="/" title="Logo Dienst Uitvoering Onderwijs">
                <span class="screenreader-only">dienst uitvoering onderwijs, naar de homepage</span>
            </a>
        </div>
    </header>
</div>

<h2>Alternative logo&rsquo;s</h2>

<p>Uno biedt ook logo&rsquo;s voor andere overheidsinstellingen.</p>

<h3>Ministerie van Onderwijs, Cultuur en Wetenschap</h3>

<div class="example" id="example-transparent--ocw">
    <header class="header header--transparent" role="banner">
        <div class="header-logo header-logo--ocw">
            <a href="/" title="Logo Ministerie van Onderwijs, Cultuur en Wetenschap">
                <span class="screenreader-only">ministerie van onderwijs, cultuur en wetenschap, naar de homepage</span>
            </a>
        </div>
    </header>
</div>

<h3>College voor Toetsen en Examens</h3>

<div class="example" id="example-transparent--cte">
    <header class="header header--transparent" role="banner">
        <div class="header-logo header-logo--cte">
            <a href="/" title="College voor Toetsen en Examens">
                <span class="screenreader-only">college voor toetsen en examens, naar de homepage</span>
            </a>
        </div>
    </header>
</div>
