---
layout: sidenav-page
title: Navigation
parent: Components
permalink: componenten/navigation/
styles: [
    'uno/components/navigation/backlink.css',
    'uno/components/navigation/breadcrumbs.css',
    'uno/components/navigation/navigation.css',
    'uno/components/navigation/inpage.css',
    'uno/components/navigation/sidenav.css'
]
additionalStyles: [
    'uno/components/label/label.css'
]
---
<h2>Themakleuren</h2>
<p>De navigatie moet een <span lang="en-US">modifier</span> class hebben met de gewenste themakleur. Gebruik
&eacute;&eacute;n van de volgende kleuren:<br/>
    <span class="label label--violet">nav--violet</span>
    <span class="label label--roze">nav--roze</span>
    <span class="label label--rood">nav--rood</span>
    <span class="label label--robijnrood">nav--robijnrood</span>
    <span class="label label--paars">nav--paars</span>
    <span class="label label--oranje">nav--oranje</span>
    <span class="label label--mosgroen">nav--mosgroen</span>
    <span class="label label--mintgroen">nav--mintgroen</span>
    <span class="label label--lichtblauw">nav--lichtblauw</span>
    <span class="label label--hemelblauw">nav--hemelblauw</span>
    <span class="label label--donkerblauw">nav--donkerblauw</span>
    <span class="label label--groen">nav--groen</span>
    <span class="label label--geel">nav--geel</span>
    <span class="label label--donkergroen">nav--donkergroen</span>
    <span class="label label--donkergeel">nav--donkergeel</span>
    <span class="label label--donkerbruin">nav--donkerbruin</span>
    <span class="label label--bruin">nav--bruin</span></p>

<h2>Navigatiebalk met <span lang="en-US">breadcrumbs</span> menu en knoppen</h2>
<p>Navigatie met <span lang="en-US">breadcrumbs</span> en een menu. Op mobiel is bij de <span lang="en-US">breadcrumbs</span> alleen het laatste niveau en de home-icon zichtbaar. De andere niveaus zijn voor blinde mensen wel zichtbaar. Het hamburgermenu is een <span lang="en-US">collapsable</span>, dus je moet wel de <span lang="en-US">collapse</span> javascript toevoegen (zie de pagina van de <span lang="en-US">collapse</span>).</p>
<p>Zorg dat alle knoppen die iets open- en dichtklappen een <code>x-uno-collapse-group="..."</code> hebben met op de puntjes dezelfde unieke naam. Dat zorgt er voor dat het openklappen
van het ene menu automatisch het openstaande menu dichtklapt.</p>
<p>Zet knoppen in een <code>div</code> met class <code>top-nav__block--right</code> zodat die rechts uitgelijnd worden.</p>
<div class="example" id="example-navigation">
    <nav class="top-nav top-nav--robijnrood">
        <div class="container">

            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li>
                        <a href="#" title="Home">
                            <i class="icon icon-home" role="presentation"></i>
                            <span lang="en-US">Home</span>
                        </a>
                    </li>
                    <li><a href="#" title="Page"><span>Niv 1</span></a></li>
                </ul>
            </div>
         
            <div class="top-nav__block top-nav__block--right">
                <button class="top-nav__block-item top-nav__block-item--collapse" x-uno-collapse-group="nav-example1" x-uno-collapse-target="collapse-menu-example">
                    <i class="icon icon-hamburger" role="presentation"></i>
                    <span>Menu</span>
                </button>
            </div>
        </div>
    </nav>

    <div class="collapse collapse--nav">
        <div class="container collapse__details" id="collapse-menu-example">
            <ul class="list list--links list--chevrons">
                <li><a href="#">Core</a></li>
                <li><a href="#">Componenten</a></li>
                <li><a href="#">Changelog</a></li>
            </ul>
        </div>
    </div>
</div>

<h2>Simpele navigatiebalk</h2>
<p>Een simpele navigatiebalk variant</p>

<div class="example" id="example-navigation--simple">
    <nav class="top-nav top-nav--donkergeel">
        <div class="container">
            <ul class="nav">

                <li class="nav__item">
                    <a class="nav__link" href="#">Core</a></li>

                <li class="nav__item">
                    <a class="nav__link nav__link--active" href="#">Componenten</a></li>

                <li class="nav__item">
                    <a class="nav__link" href="#">Changelog</a></li>

            </ul>
        </div>
    </nav>
</div>

<h2>Navigatiebalk met subnavigatie</h2>

<div class="example" id="example-navigation-sub">
	<nav class="top-nav top-nav--hemelblauw">
		<div class="container">
			<ul class="navigation">
				<li class="navigation__item navigation__item--has-popout">
					<a class="navigation__link" href="#">Particulier<span class="icon icon-chevron-down navigation__icon" role="" title=""></span></a>
					<div class="navigation__popout">
						<ul class="list list--links list--chevrons navigation__popout-items">
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Mbo'er</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Student hbo of universiteit</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Scholier vmbo, havo of vwo</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Ouder</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Leraar</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Terugbetaler</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Staatsexamenkandidaat</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">Kinderopvang</a>
							</li>
							<li class="navigation__popout-item">
								<a class="navigation__popout-link" href="#">International visitor</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#">Zakelijk</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#">Onderwijsdata</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="#" rel="external">Inburgeren</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<h2>Simpele navigatiebalk met submenu</h2>
<p>Een simpele navigatiebalk variant, met een submenu voor een item.</p>
<p>De submenu functionaliteit maakt gebruik van javascript voor het uitklappen.</p>

<div class="example">
    <nav class="top-nav top-nav--hemelblauw">
        <div class="container">
                <ul class="nav nav--submenu">

                    <li class="nav__item">
                        <a class="nav__link" href="#">Core</a></li>

                    <li class="nav__item nav__item--parent">
                        <a class="nav__link nav__link--parent" href="#">Componenten</a>
                        <ul class="nav__submenu">
                            <li class="nav__item">
                                <a class="nav__link" href="/test">Button</a></li>
                            <li class="nav__item">
                                <a class="nav__link" href="/test2">Checkbox</a></li>
                        </ul>
                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="#">Changelog</a></li>
                </ul>
        </div>
    </nav>
    <div class="js-example">
        <pre><code>// Load nav component
        System.import('/uno/components/navigation/navigation.js').then(function (module) {
            var submenus = document.querySelectorAll('.nav--submenu');
            // Initialize all submenus
            for (var i = 0; i < submenus.length; i++) {
                new module.SubMenuNavigation(submenus.item(i));
            }
        });
        </code></pre>
    </div>
</div>

<h3>Javascript</h3>





<h2>Simpele navigatiebalk met <span lang="en-US">auto-resize</span></h2>
<p>Een simpele navigatiebalk variant, waarbij automatisch een -meer- knop komt als niet alle navigatie elementen in de breedte passen.<br>
De autoresize wordt automatisch tot één item teruggebracht op mobiele schermen.</p>
<p>De <span lang="en-US">auto-resize</span> functionaliteit maakt gebruik van javascript voor het dynamisch bepalen van de breedte en het samenstellen van het -meer- menu.
    Daarvoor is het nodig de <code>collapse</code> class in te laden.</p>

<div class="example">
    <nav class="top-nav top-nav--hemelblauw">
        <div class="container">
            <div class="top-nav-autoresize">
                <ul class="nav">

                    <li class="nav__item">
                        <a class="nav__link" href="#">Core</a></li>

                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="#">Componenten</a></li>

                    <li class="nav__item">
                        <a class="nav__link" href="#">Changelog</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="js-example">
        <pre><code>// Load nav component
        System.import('/uno/components/navigation/navigation.js').then(function (module) {
            var navs = document.querySelectorAll('.top-nav-autoresize');
            // Initialize all navs
            for (var i = 0; i < navs.length; i++) {
                new module.AutoResizeNavigation(navs.item(i));
            }
        });
        </code></pre>
    </div>
</div>





<h2>Zijnavigatie</h2>
<p>Een navigatiebalk links van de content. Subnavigatie is alleen bedoeld voor
in-page navigatie.</p>

<div class="example example--grey" id="example-sidenav">
    <nav class="sidenav">
        <ul>
            <li class="sidenav__item"><a href="#">Core</a></li>
            <li class="sidenav__item sidenav__item--active">
                <a href="#">Componenten</a>
                <ul>
                    <li class="sidenav__item"><a href="#">Button</a></li>
                    <li class="sidenav__item sidenav__item--active"><a href="#">Checkbox</a></li>
                    <li class="sidenav__item"><a href="#">Radio</a></li>
                    <li class="sidenav__item"><a href="#">Tabs</a></li>
                </ul>
            </li>
            <li class="sidenav__item"><a href="#">Templates</a></li>
            <li class="sidenav__item"><a href="#">Changelog</a></li>
        </ul>
    </nav>
</div>

<h2>In site navigatie</h2>
<p>Navigatie binnen een sectie van de site. Het bestaat uit een list-links met een overzicht van de pagina's bovenin. <br>
    En onderaan de pagina staat een link naar de vorige en de volgende stap (indien van toepassing).
    </p>

<div class="example example--grey">
  <article>
    <section class="row">
      <div class="col-sm-12">
        <div class="content">
          <a class="backlink" href="/duo/rio/portaal/onderwijsorganisaties/31107/opleidingen/index.html">Opleidingen</a>
          <header class="content__header">
            <h1 class="content__header-title">Aangeboden opleidingen</h1>
            <p class="content__header-paragraph">Stichting ROC West-Brabant</p>
            <ol class="content__header-inpage list list--decimal list--decimal-with-dot columns">
              <li><a href="index.html">Wat moet je doen</a></li>
              <li class="selected">Voorwaarden</li>
              <li><a href="hoe-het-werkt.html">Hoe het werkt</a></li>
              <li><a href="studiefinanciering.html">Hoe zit het met studiefinanciering</a></li>
              <li><a href="ouders.html">Ouders</a></li>
            </ol>
          </header>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-sm-12">
        <div class="content-background">
          <div class="content content--inpage">
              <h1>Wat moet je doen</h1>
              <p>We hebben we een stappenplan voor je samengesteld.  Volg deze stappen en je kunt in januari gratis of met korting reizen met je eigen studentenreisproduct.</p>
              <h2 lang="en-US">Cross-media value</h2>
              <p lang="en-US">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
              <p lang="en-US">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>

              <div class="prev-next">
                  <a href="#fakelink" onclick="return false;" class="prev-next__prev">
                      <span class="prev-next__meta">VORIGE</span>
                      <span class="prev-next__text">1. Wat moet je doen</span>
                  </a>
                  <a href="#fakelink" onclick="return false;" class="prev-next__next">
                      <span class="prev-next__meta">VOLGENDE</span>
                      <span class="prev-next__text">3. Hoe het werkt</span>
                  </a>
              </div>
            </div>
          </div>
      </div>
  </article>
</div>



<script>
    // Load collapse component
    System.import('../../uno/components/collapse/collapse.js').then(function (module) {

        // Select all collapsable elements on the page
        var collapses = document.querySelectorAll('.example [x-uno-collapse-target]');

        // Initialize all collapses
        for (var i = 0; i < collapses.length; i++) {
            new module.Collapse(collapses.item(i));
        }
    });
</script>
