---
layout: sidenav-page
title: Notification
parent: Components
permalink: componenten/notification/
styles: [
    'uno/components/notification/notification.css'
]
additionalStyles: [
    'uno/components/table/table.css'
]
showNotification: true
---

<p>Met een notificatie breng je de gebruiker op de hoogte van een gebeurtenis</p>

<p>
    Een notificatie kan betrekking hebben op de actie die de gebruiker op dat
    moment uitvoert. In dat geval dient de notificatie inline getoond te
    worden.<br />
    Wanneer een notificatie betrekking heeft op de gehele DUO omgeving (algehele
    storing), dan wordt de notificatie onder de navigatie getoond. In dat geval
    plaats je de notificatie als eerste element boven de <code>main</code> container.
</p>

<p>
  Een <code>.notification</code> trekt de aandacht van de gebruiker. Er zijn 4
  soorten notificaties:
</p>
<ul>
  <li><code>.notification--success</code> voor als een actie geslaagd is</li>
  <li><code>.notification--info</code> om een gebruiker te informeren</li>
  <li><code>.notification--warning</code> om een gebruiker te waarschuwen</li>
  <li><code>.notification--error</code> om een gebruikter te laten weten dat er iets fout is gegaan</li>
</ul>

<div class="example">
  <div class="notification notification--info">
    <div class="notification__content">
      <div class="notification__type">TER INFORMATIE</div>
      <h2 class="notification__title">Voor de veiligheid</h2>
      <span
        >Vanwege de veiligheid sturen we u het wachtwoord en tokengenerator in 2
        aparte enveloppen.</span
      >
    </div>
  </div>
  <div class="notification notification--warning">
    <div class="notification__content">
      <div class="notification__type">LET OP</div>
      <h2 class="notification__title"
        >Bevoegd gezag moet dit document ondertekenen</h2
      >
      <span
        >Zonder handtekening en kopie van het identiteitsbewijs van het bevoegd
        gezag nemen we de aanvraag niet in behandeling.</span
      >
    </div>
  </div>
  <div class="notification notification--success">
    <div class="notification__content">
      <div class="notification__type">GELUKT</div>
      <h2 class="notification__title">Aanvraag ontvangen</h2>
      <span
        >Wij hebben uw aanvraag ontvangen en nemen deze zo snel mogelijk in
        behandeling.</span
      >
    </div>
  </div>
  <div class="notification notification--error">
    <div class="notification__content">
      <div class="notification__type">STORING</div>
      <h2 class="notification__title"
        >Er gaat iets niet helemaal lekker</h2
      >
      <span>De flux capacitor heeft de geest gegeven.</span>
    </div>
  </div>

  <hr />

  <div class="notification notification--info">
    <div class="notification__content">
      <div class="notification__type">TER INFORMATIE</div>
      <h2 class="notification__title">Voor de veiligheid</h2>
    </div>
  </div>
  <div class="notification notification--warning">
    <div class="notification__content">
      <div class="notification__type">LET OP</div>
      <h2 class="notification__title"
        >Bevoegd gezag moet dit document ondertekenen</h2
      >
    </div>
  </div>
  <div class="notification notification--success">
    <div class="notification__content">
      <div class="notification__type">GELUKT</div>
      <h2 class="notification__title">Aanvraag ontvangen</h2>
    </div>
  </div>
  <div class="notification notification--error">
    <div class="notification__content">
      <div class="notification__type">STORING</div>
      <h2 class="notification__title"
        >Er gaat iets niet helemaal lekker</h2
      >
    </div>
  </div>
</div>

<h3>Sluitbare notificaties</h3>

<p>Indien een gebruiker de notificatie weg moet kunnen klikken, kan er een sluit button aan de notificatie worden toegevoegd.</p>

<div class="example">
    <div class="notification notification--info" id="my-notification">
        <div class="notification__content">
            <div class="notification__type">TER INFORMATIE</div>
            <h2 class="notification__title">Voor de veiligheid</h2>
            <span>Vanwege de veiligheid sturen we u het wachtwoord en tokengenerator in 2 aparte enveloppen.</span>
        </div>
        <button class="notification__close-button" onclick="myNotification.close()">
            <i class="icon icon-cross"></i>
            Sluit
        </button>
    </div>
    <div class="js-example">
        <pre><code>&lt;script&gt;
          let myNotification;
      
          System.import('/uno/components/notification/notification.js').then(function (module) {
              myNotification = new module.Notification(document.getElementById('my-notification'));
          });
        &lt;/script&gt;</code></pre>
    </div>
</div>

<h3>Javascript API</h3>
<h4>Publieke methodes</h4>

<table class="table table--striped">
    <thead>
    <tr>
        <th>Methode</th>
        <th>Omschrijving</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>close()</code></td>
        <td>Sluit de notification</td>
    </tr>
    </tbody>

</table>

<script>
    let myNotification;

    System.import('../../uno/components/notification/notification.js').then(function (module) {
        myNotification = new module.Notification(document.getElementById('my-notification'));
    });
</script>
