---
layout: sidenav-page
title: Radiobutton
parent: Components
permalink: componenten/radio/
styles: [
    'uno/components/form/form.css',
    'uno/components/form/filter.css',
    'uno/components/form/input.css',
    'uno/components/form/radio.css'
]
---
<h2>Standaard <span lang="en-US">radio buttons</span></h2>
<div class="example" id="example-radio">
    <fieldset class="input">
        <legend class="input__legend">Kanaal:</legend>
        <div class="input__group input__group--radio">
            <input type="radio" name="optradio" id="opt1" class="input__control input__control--radio" checked>
            <label class="input__label input__label--radio" for="opt1">Particulier portaal</label>
        </div>
        <div class="input__group input__group--radio">
            <input type="radio" name="optradio" id="opt2" class="input__control input__control--radio">
            <label class="input__label input__label--radio" for="opt2">Zakelijk portaal</label>
        </div>
        <div class="input__group input__group--radio">
            <input type="radio" name="optradio" id="opt3" class="input__control input__control--radio" disabled>
            <label class="input__label input__label--radio" for="opt3">Medewerkersportaal</label>
        </div>
        <div class="input__group input__group--radio">
            <input type="radio" name="optradio" id="opt4" class="input__control input__control--radio" disabled>
            <label class="input__label input__label--radio" for="opt4">Medewerkersportaal voor medewerkers van de 8<sup>e</sup>, 9<sup>e</sup>, 10<sup>e</sup>, 12<sup>e</sup>, 13<sup>e</sup> en 15<sup>e</sup> verdieping</label>
        </div>
    </fieldset>
</div>

<h2>Horizontale <span lang="en-US">radio buttons</span></h2>
<p>Wanneer je slechts 2 <span lang="en-US">radio buttons</span>, met een korte label, kun je deze om ruimte te besparen ook naast elkaar zetten.</p>
<div class="example">
    <fieldset class="input filter">
        <legend class="filter__title">Antwoord:</legend>
        <div class="input__group-horizontal">
            <div class="input__group input__group--radio">
                <input type="radio" id="choice_1" name="optradio2" class="input__control input__control--radio">
                <label class="input__label input__label--radio" for="choice_1">Ja</label>
            </div>
            <div class="input__group input__group--radio">
                <input type="radio" id="choice_2" name="optradio2" class="input__control input__control--radio">
                <label class="input__label input__label--radio" for="choice_2">Nee</label>
            </div>
        </div>
    </fieldset>
</div>
