---
layout: sidenav-page
title: Tooltip
parent: Components
permalink: componenten/tooltip/
styles: [
    'uno/components/panel/panel.css',
    'uno/components/tooltip/tooltip.css',
    'uno/components/popover/popover.css'
]
---

<p>Een <span lang="en-US">tooltip</span> geeft extra informatie wanneer de gebruiker de muis over een element plaatst.</p>
<h2>Gebruik</h2>
<p>Een <span lang="en-US">tooltip</span> kan gebruikt worden om iets te verduidelijken. Plaats de inhoud
    van de <span lang="en-US">tooltip</span> in het <code>title</code> attribuut. Zonder javascript
wordt de inhoud in een &lsquo;standaard&rsquo; <span lang="en-US">tooltip</span> getoond. De inhoud van
een <span lang="en-US">tooltip</span> kan geen HTML of opmaak bevatten.</p>

<div class="example">
    <button x-uno-tooltip
            title="Het rentepercentage in 2016 bedraagt 0,01 procent op jaarbasis. De rente is altijd gerelateerd
            aan de overheidsrente. Overheidsrente is lager dan rente bij banken.">
        <dfn>rentepercentage<\/dfn>
    </button>
</div>

<h3>Tooltip op een icoon</h3>
<p>Gebruik voor een icon-tooltip als icoon <code>.tooltip__icon</code></p>

<div class="example">
    <button x-uno-tooltip class="tooltip__icon" title="Tooltip met een icon"></button>
</div>

<h3>Javascript</h3>
<p>In bovenstaande voorbeelden wordt het attribuut <code>x-uno-tooltip</code> gebruikt om
de javascript te triggeren. De <span lang="en-US">tooltip</span> gedraagd zich als een <span lang="en-US">singleton</span>, er kan
maar één tooltip tegelijk in beeld staan.</p>

<pre><code>&lt;script&gt;
    // Load tooltip component
        System.import('/uno/components/tooltip/tooltip.js').then(function (module) {
            // Select all tooltip elements on the page
            var tooltips = document.querySelectorAll('.example [x-uno-tooltip]');

            // Initialize all tooltips
            for (var i = 0; i < tooltips.length; i++) {
                new module.Tooltip(tooltips.item(i));
            }
        });
&lt;/script&gt;</code></pre>


<script>
    // Load tooltip component
    System.import('../../uno/components/tooltip/tooltip.js').then(function (module) {
        // Select all tooltip elements on the page
        var tooltips = document.querySelectorAll('.example [x-uno-tooltip]');

        // Initialize all tooltips
        for (var i = 0; i < tooltips.length; i++) {
            new module.Tooltip(tooltips.item(i));
        }
    });
</script>
