<%- partial('_partial/head') %>
<body>
<div class="wrapper">

    <%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
    <%- page.content %>

    <%- partial('_partial/debug') %>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
</body>
</html>