<%- partial('_partial/head') %>
<body class="theme--large-padding">
<div class="wrapper">
<%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
<%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>

<main class="skiplink-target main" id="content" tabindex="-1">

    <%- partial('_partial/site-notification') %>
    <div class="container">
        <%- partial('_partial/intro') %>

        <article>
            <div class="row">
                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content-background ">

                        <div class="content">
                            <%- partial('_partial/page') %>
                            <h2>Zoeken naar "<span id="query-placeholder"></span>"</h2>

                            <ul class="search-results" id="search-results"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

<script type="application/x-template" id="search-result-template">
    <li class="search-results__item">
        <h3 class="is-h4">{{title}}</h3>
        <p>{{content}}</p>
        <p><a href="{{url}}">{{url}}</a></p>
    </li>
</script>

<%- partial('_partial/debug') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
<%- js('js/search.js') %>
</div>
</body>
</html>