<%- partial('_partial/head') %>
<body class="theme--large-padding">
<div class="wrapper">
<%- partial('_partial/header', {transparent: false, target: 'main-content'}, {cache: !config.relative_link}) %>
<%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>
<%- partial('_partial/site-notification') %>
<main class="smain" id="content">
    <div class="container">
        <section class="row">
            <div class="col-xl-9 col-xl-offset-4 col-lg-8 col-lg-offset-5 col-md-9 col-md-offset-4 col-xs-12">
                <header class="content__header">
                    <% if(page.fulltitle) {%>
                        <h1 class="content__header-title"><%= page.fulltitle %></h1>
                    <% } else {%>
                        <h1 class="content__header-title"><%= page.title %></h1>
                    <% } %>
                </header>
            </div>
        </section>
        <article>
            <div class="row">
                <aside class="col-xl-3 col-lg-4 col-md-3 col-sm-modal">
                    <nav class="sidenav">
                        <% for (var cat of site.data.menu.pages) { %>
                            <% if(is_current(cat.url)) { %>
                                <ul>
                                    <li class="sidenav__item <% if(page.title == 'Introductie') { %>sidenav__item--active<% } %>">
                                        <a href="<%- url_for('/componenten/index.html') %>">
                                            Introductie
                                        </a>
                                    </li>
                                    <% for (var component of cat.pages) { %>
                                        <li class="sidenav__item <% if(page.title == component.title) { %>sidenav__item--active<% } %>">
                                            <a href="<%- url_for(component.url) %>"><%= component.title%></a>
                                        </li>
                                    <% } %>
                                </ul>
                            <% } %>
                        <% } %>
                    </nav>
                </aside>
                <div class="col-xl-9 col-lg-8 col-md-9">
                    <div class="content-background">

                        <div class="skiplink-target content" id="main-content">
                            <%- partial('_partial/page') %>
                            <% if(page.styles) { %>
                            <h2>Benodigde stylesheets</h2>
                            <ul>
                                <% for(css of page.styles) { %>
                                <li><code><%= css %></code></li>
                                <% }%>
                            </ul>
                            <% }%>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</main>

<%- partial('_partial/debug') %>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</div>
</body>
</html>
