---
title: medewerkersscherm
fulltitle: Medewerkersscherm
layout: medewerkersscherm
permalink: templates/medewerkersscherm/
styles: [
    'uno/components/list/list-timeline.css',
    'uno/components/list/list-subject.css',
    'uno/components/list/list-notification.css',
    'uno/components/list/definition-list.css',
    'uno/components/table/table.css',
    'uno/components/section/edit-section.css',
    'uno/components/label/label.css',
    'uno/components/skiplink/skiplink.css'
]
---
<nav class="nav background--mintgroen">
    <div class="container">

        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li>
                    <a href="#" title="Home">
                        <i class="icon icon-home" role="presentation"></i>
                        Medewerkerportaal
                    </a>
                </li>

                <li>
                    <a href="#" title="Page">
                        Dashboard
                    </a>
                </li>

            </ul>
        </div>

        <div class="nav__block nav__block--right">

            <a class="nav__block__item  nav__block__item--collapse"
               id="nav_user" x-uno-collapse-group="nav-user"
               x-uno-collapse-target="collapse-user" role="button" tabindex="0"
               aria-controls="collapse-user">
                <i class="icon icon-user" role="presentation"></i>
                Geb Ruiker
            </a>

        </div>
    </div>
</nav>
<main class="skiplink-target main" id="content" tabindex="-1">

    <header class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="content">
                <a class="backlink" href="/templates">Terug</a>
                <h1>CIOS Breda EO
                </h1>
            </div>
        </div>
    </header>

    <article>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="content"><span id="type">ONDERWIJSAANBIEDER</span>
                </h2>
                <div class="content-background">
                    <div class="content content--compact">

                        <div class="edit-section">
                            <h3>Algemene gegevens</h3>
                            <a href="#/wijzig/orgeenheid/78">Wijzig</a>
                        </div>

                        <ul class="definition-list">
                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__item__title">
                                    Begindatum
                                </div>
                                <div class="definition-list__item__description">
                                    01-08-2001</div>
                            </li>

                            <li class="definition-list__item definition-list__item--horizontal">
                                <div class="definition-list__item__title">
                                    Einddatum
                                </div>
                                <div class="definition-list__item__description">
                                    <p></p></div>
                            </li>
                        </ul>

                        <h3>Periodes</h3>

                        <table class="table table--striped table--wide">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:5%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Naam lang</th>
                                <th>Naam kort</th>
                                <th>Richting</th>
                                <th>Onderwijsmethode</th>
                                <th>Begindatum</th>
                                <th>Einddatum</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>CIOS Breda EO</td>
                                <td>CIOS Breda</td>
                                <td>OPB</td>
                                <td>DAL</td>
                                <td>02-02-2002</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="content-background">

                    <ul class="list-notification">
                        <li class="list-notification__item">
                            <a href="#/locatie/78">Onderwijslocaties</a>
                        </li>
                        <li class="list-notification__item">
                            <a href="#/aanbod/78">Aangeboden opleidingen</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content content--compact">
                        <h2>Externe identifiers</h2>
                        <table class="table table--striped">
                            <colgroup>
                                <col>
                                <col>
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:5%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Inhoud</th>
                                <th>Begindatum</th>
                                <th>Einddatum</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>ONDERWIJSAANBIEDER_ID</td>
                                <td>100A001</td>
                                <td>02-02-2002</td>
                                <td></td>
                                <td><a style="float: right;"
                                       href="#/organisatie/externeidentifier/44">Wijzig</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="content-background">
                            <div class="content content--compact">
                                <h2>Contactgqp TOEZICHT</h2>
                                <table class="table table--striped">
                                    <thead>
                                    <tr>
                                        <th>Soort</th>
                                        <th>Adres</th>
                                        <th>Contactpersoon</th>
                                        <th>Begindatum</th>
                                        <th>Einddatum</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>POST</td>
                                        <td>
                                            <div>
                                                <div>
                                                    Philipslaan
                                                    1
                                                    a
                                                    t
                                                    to
                                                    tov
                                                    <br>
                                                    2132AX
                                                    Breda
                                                </div>
                                            </div>
                                        </td>
                                        <td>A. Philips</td>
                                        <td>03-01-2016</td>
                                        <td>01-10-2016</td>
                                        <td>
                                            <a href="#/organisatie/contactadres/13">Wijzig</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>POST</td>
                                        <td>
                                            <div>
                                                <div>
                                                    Grohner Kamp 3<br>
                                                    28757 Bremen<br>
                                                    Duitsland<br>
                                                    3456
                                                </div>
                                            </div>
                                        </td>
                                        <td>A. Philips</td>
                                        <td>03-01-2016</td>
                                        <td>01-10-2016</td>
                                        <td>
                                            <a href="#/organisatie/contactadres/16">Wijzig</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>TELEFOON</td>
                                        <td>
                                            <div>
                                                <div>
                                                    0505244500
                                                </div>
                                            </div>
                                        </td>
                                        <td>A. Philips</td>
                                        <td>03-01-2016</td>
                                        <td>01-10-2016</td>
                                        <td>
                                            <a href="#/organisatie/contactadres/15">Wijzig</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>BANKREKENING</td>
                                        <td>
                                            <div>
                                                <div>
                                                    NL04ABNA0908233507
                                                    908233507
                                                    t.a.v.
                                                    Ronald de Boer
                                                    (BIC:
                                                    ABNANL2A)
                                                </div>
                                            </div>
                                        </td>
                                        <td>A. Philips</td>
                                        <td>03-01-2016</td>
                                        <td>01-10-2016</td>
                                        <td>
                                            <a href="#/organisatie/contactadres/17">Wijzig</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="content-background">
                    <div class="content content--compact">
                        <h2>Hierarchische relaties</h2>
                        <table class="table table--striped">
                            <colgroup>
                                <col>
                                <col>
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:5%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Van/Naar</th>
                                <th>Naam</th>
                                <th>Begindatum</th>
                                <th>Einddatum</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Van</td>
                                <td>Stichting ROC West Brabant
                                </td>
                                <td>10-04-2016</td>
                                <td></td>
                                <td><a style="float: right;"
                                       href="#/organisatie/organisatierelatie/13">Wijzig</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Naar
                                </td>
                                <td>CIOS Breda EO</td>
                                <td>10-04-2014</td>
                                <td>09-04-2016</td>
                                <td><a style="float: right;"
                                       href="#/organisatie/organisatierelatie/15">Wijzig</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </article>
    </div>

</main>