---
title: geen navigatie
fulltitle: Portaalbeheer
permalink: templates/no-nav/
layout: no-nav
showNotification: true
styles: [
    'uno/components/notification/notification.css'
]
---
<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background background--hemelblauw">

            <div class="content">
                <div class="">
                    <ul class="list list--links list--chevrons">
                        <li><a href="#">Toetsen met Facet</a></li>
                        <li><a href="#">Examenloket</a></li>
                        <li><a href="#">Uitwisselen met BRON</a></li>
                        <li><a href="#">Examenresultaten uitwisselen</a></li>
                        <li><a href="#">Jaarstukken indienen</a><br>&nbsp;</li>
                    </ul>
                </div>
                <p><a href="#">Alle onderwerpen</a></p>
            </div>
        </div>
    </div>
</div>