---
layout: page
title: Typografie
permalink: templates/typografie/
intro: Alle leerlingen in het reguliere basisonderwijs moeten in groep 8 een eindtoets maken. Als een leerling de
    eindtoets niet maakt, moet u met BRON uitwisselen wat de reden is. De Onderwijsinspectie controleert dit.
    Studiefinanciering gaat in vanaf het kwartaal na je 18e verjaardag. Je ouders krijgen dan ook geen kinderbijslag meer
    voor jou. We betalen uit aan het eind van elke maand.
styles: [
    'uno/components/quote/quote.css',
    'uno/components/hint/hint.css',
    'uno/components/notification/notification.css',
    'uno/components/todolist/todolist.css']
---

<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">

            <div class="content">
                <h2>Resultaten registreren in BRON</h2>
                <p>U moet per leerling een aantal gegevens in uw LAS registreren en die uitwisselen met BRON. Dit moet
                    uiterlijk 14
                    dagen nadat de uitslag bekend is geworden. Hieronder ziet u welke code u moet gebruiken voor de
                    verschillende
                    eindtoetsen.</p>

                <div class="notification notification--warning">
                    <div class="notification__content">
                        <strong class="notification__title">In uw LAS noteert u in het veld ‘Reden niet deelname’</strong>
                            de code 02 voor leerlingen die ontheffing krijgen voor de
                            eindtoets. U moet het veld 'Reden ontheffing' ook vullen.
                    </div>
                </div>

                <h3>Geen deelname en ontheffing</h3>
                <p>In uw LAS noteert u in het veld ‘Reden niet deelname’ de code 02 voor leerlingen die ontheffing krijgen
                    voor de
                    eindtoets. U moet het veld 'Reden ontheffing' ook vullen.</p>

                <ol class="list list--decimal">
                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende beheersen. ‘Reden
                        ontheffing’ krijgt code 01.
                        <ul class="chevron">
                            <li>Navis, fermium, et nutrix.</li>
                            <li>Boreas, compater, et turpis.</li>
                        </ul>
                    </li>
                    <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code 03.
                        <ol class="list list--decimal">
                            <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende beheersen.
                                ‘Reden
                                ontheffing’ krijgt code 01.
                            </li>
                        </ol>
                    </li>

                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn
                        <ol>
                            <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende beheersen.
                                ‘Reden
                                ontheffing’ krijgt code 01.
                            </li>
                            <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                            <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code
                                03.
                            </li>
                            <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code
                                03.
                            </li>
                            <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code
                                03.
                            </li>
                            <li>
                                <ol class="list list--upper-roman">
                                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende
                                        beheersen. ‘Reden
                                        ontheffing’ krijgt code 01.
                                    </li>
                                    <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende
                                        beheersen. ‘Reden
                                        ontheffing’ krijgt code 01.
                                    </li>
                                    <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                                    <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt
                                        code 03.
                                    </li>
                                    <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt
                                        code 03.
                                    </li>
                                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende
                                        beheersen. ‘Reden
                                        ontheffing’ krijgt code 01.
                                    </li>
                                    <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                                    <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt
                                        code 03.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code 03.
                        <ol>
                            <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende beheersen.
                                ‘Reden
                                ontheffing’ krijgt code 01.
                            </li>
                            <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                            <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code
                                03.
                            </li>
                            <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code
                                03.
                            </li>
                            <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt code
                                03.
                            </li>
                            <li>
                                <ol class="list list--lower-roman">
                                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende
                                        beheersen. ‘Reden
                                        ontheffing’ krijgt code 01.
                                    </li>
                                    <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende
                                        beheersen. ‘Reden
                                        ontheffing’ krijgt code 01.
                                    </li>
                                    <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                                    <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt
                                        code 03.
                                    </li>
                                    <li>Meervoudig gehandicapte kinderen die zeer moeilijk leren. ‘Reden ontheffing’ krijgt
                                        code 03.
                                    </li>
                                    <li>Leerlingen die korter dan 4 jaar in Nederland zijn en het Nederlands onvoldoende
                                        beheersen. ‘Reden
                                        ontheffing’ krijgt code 01.
                                    </li>
                                    <li>Zeer moeilijk lerende kinderen. ‘Reden ontheffing’ krijgt code 02.</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>

                <p>Ze mógen de eindtoets wel maken. In dat geval registreert u de reden van de ontheffing en de resultaten
                    van de
                    toets. De onderwijsinspectie gebruikt het resultaat niet bij de opbrengstbepaling.</p>

                <section>
                    <strong class="is-h4" role="heading">Wat moet u doen?</strong>

                    <ol class="list list--decimal-circled">
                        <li>Download de spreadsheet RMC-effectrapportage 2014-2015 (xls 386kb).
                            DUO mailt u het format ook.
                        </li>

                        <li>Voer de gevraagde gegevens in op de spreadsheet. Als uw RMC-regio
                            onderverdeeld is in subregio’s, kunt u ervoor kiezen de spreadsheet voor
                            elke subregio apart in te vullen. De RMC-coördinator is verantwoordelijk
                            voor het aanleveren van de complete set rapporten.
                        </li>

                        <li>Stuur de ingevulde spreadsheet vóór 1 december naar
                            <a href="mailto:rmc-effectrapportage@duo.nl">rmc-effectrapportage@duo.nl</a>.
                        </li>
                    </ol>
                </section>
            </div>

            <figure class="full-width">
                <img src='/images/sample.jpg' alt='Sample image'/>
                <figcaption>
                    <p>
                        <span class="caption-index">foto 1</span>
                        <span class="caption-description">Zeer moeilijk lerende kinderen</span>
                    <br/>
                        <span class="capitalize">bron</span>
                        <span class="media-source">Hollandse hoogte</span>
                    </p>
                </figcaption>
            </figure>

            <div class="content">
                <p>
                <blockquote class="quote">Phasellus elementum neque eu nisl dictum. Duis aute irure dolor in reprehenderit
                    in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </blockquote>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim
                ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <aside class="hint">
                    <span class="hint__title">Staat het land er niet tussen?</span>

                    <p class="hint__description">Bel of mail dan het Informatiecentrum Diplomawaardering, via info@idw.nl
                        of 079-3217930. U kunt ook in het overzicht ouderverklaringen en landeninformatie kijken.</p>
                </aside>

            </div>
        </div>

        <div class="content">
            <p>Laatste update was op 28 januari 2016</p>
        </div>
    </div>
</div>
