body {
    overflow-x: hidden;
}

code {
    border: 1px solid #ccc;
    color: #000080;
    padding: 0.1rem 0.5rem;
}

pre > code {
    border: 0;
    color: inherit;
    padding: 0;
}

.nowrap,
p code {
    white-space: nowrap;
}

.deprecated {
    text-decoration: line-through;
}

.hidden {
    height: 1px;
    position: fixed;
    top: -100px;
    width: 1px;
}

.debug-container {
    bottom:0;
    left:0;
    pointer-events: none;
    position: fixed;
    right:0;
    top:0;

    .container {
        position: relative;
        height: 100%;
    }
}

.debug {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    input + div {
        border-left: 1px solid red;
    }

    .guide--center {
        border-left: 1px solid lime;
        bottom: 0;
        left: 50%;
        position: fixed;
        top:0;
    }

    & > [class*="col-"] {
        border-right: 1px solid red;
        pointer-events: none;
        height: 100%;

        & > div {
            background: rgba(255, 0, 0, .2);
            height: 100%;
            width: 100%;
        }
    }

    input {
        bottom: .5rem;
        left: .5rem;
        position: fixed;
        pointer-events: auto;
    }

    input:not(:checked) ~ div {
        display: none;
    }
    .col-lg-dash-list::after,
    .col-md-dash-right::after,
    .col-lg-dash-right::after,
    .col-lg-dash-left::after,
    .col-md-dash-left::after {
        position: absolute;
        top:0;
        bottom:0;
        border-left: 0 dashed red;
        content: ' ';
    }

    .col-lg-dash-left::after,
    .col-md-dash-left::after {
        left: 3rem;
    }

    .col-lg-dash-list::after {
        right: 5rem;
        border-right: 0 dashed red;
    }

    .col-md-dash-right::after,
    .col-lg-dash-right::after {
        right: 3rem;
    }

    @include media-breakpoint-up(md) {
        .col-md-dash-right::after,
        .col-md-dash-left::after {
            border-left-width: 1px;
        }
    }
    @include media-breakpoint-up(lg) {
        .col-md-dash-right::after,
        .col-md-dash-left::after {
            border-left-width: 0;
        }
        .col-lg-dash-right::after,
        .col-lg-dash-left::after {
            border-left-width: 1px;
        }

        .col-lg-dash-list::after {
            border-right-width: 1px;
        }
    }

    &::after {
        position: fixed;
        bottom: .5rem;
        right: .5rem;
        width: 100px;
        text-align: right;
        content: 'xs';


        @include media-breakpoint-up(sm) {
            content: 'sm';
        }

        @include media-breakpoint-up(md) {
            content: 'md';
        }

        @include media-breakpoint-up(lg) {
            content: 'lg';
        }

        @include media-breakpoint-up(xl) {
            content: 'xl';
        }

        @include media-breakpoint-up(xxl) {
            content: 'xxl';
        }
    }
}