.example {
  position: relative;
  margin: 0 0 20px 0;

  pre {
    margin: 0;
  }

  .row {
    margin: 0;
    margin-top: 1rem;
  }

  .navigation {
    margin-bottom: 0;
  }

  & > .tab {
    justify-content: left;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    width: 100%;

    & > .tab__tab {
      flex-grow: 0;
      margin: 0 1rem 0 0;
  
      &--active {
        bottom: -1px;
        border-bottom: 1px solid #fff;
      }
  
       &::before {
         border-bottom: none;
       }
    }
  }

  & > .tab__content {
    border: 1px solid #e5e5e5;
    border-top: none;
    padding: 10px;
    width: 100%;

    & > .tab__pane {
      padding: 0;
    }
  }
}

.example--grey {
  .tab__content {
  background: $black-8;
  }
}

.example--column {
  .tab__pane--example.tab__pane--active {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

.hljs {
  margin-top: 0;
}

.example__content-background {
  background-color: $donkerblauw;
}

.example--transparent {
  .tab__content {
    background: url('../images/transparent.gif');
    background-repeat: repeat;
  }
}

.show-grid [class^="col-"] {
  border: 1px solid #cccccc;
}

.example--only-code {
  display: none;
}
